@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  width: 100%;
}
.font-mulish{
font-family: 'Mulish';
}
.font-philospher{
  font-family: 'Philosopher';
}


.custom-shadow {
  box-shadow: 1px 4px 20px rgb(233, 233, 233), 1px 0px 20px rgb(255, 247, 247)
}
.custom-shadow2 {
  box-shadow: 1px 4px 20px rgb(234, 233, 233), 1px 0px 20px rgb(224, 224, 224)
}
.custombg{
  background-image: url(../public/imgeNew/exportcollection/jwellery.jpg);
  background-size: 100% 100%;

}
