@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  width: 100%;
}
.font-mulish{
font-family: 'Mulish';
}
.font-philospher{
  font-family: 'Philosopher';
}


.custom-shadow {
  box-shadow: 1px 4px 20px rgb(233, 233, 233), 1px 0px 20px rgb(255, 247, 247)
}
.custom-shadow2 {
  box-shadow: 1px 4px 20px rgb(234, 233, 233), 1px 0px 20px rgb(224, 224, 224)
}
.custombg{
  background-image: url(../public/imgeNew/exportcollection/jwellery.jpg);
  background-size: 100% 100%;

}
/* Add these CSS styles */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.section-hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.section-visible {
  animation: fadeIn 0.8s ease-out forwards;
}
